
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <fa-icon [icon]="faLock" class='fa-3x'></fa-icon><br>
        <h1>Forgot Password</h1>
        <p>Please enter your registered email where we will send you the reset password link</p>
      </div>
  
      <!-- Forgot Passowd Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email Address">
        <input type="submit" class="fadeIn fourth" value="Reset Password Link">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="../login">Login</a>
      </div>
  
    </div>
  </div>